<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../common/links.ejs') %>
</head>

<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 mx-auto">
                <div class="card" style="box-shadow: 0 0 10px #c6c6c6;">
                    <div class="card-text mt-2">
                        <p class="h3 text-center fw-bold">Login</p>
                        <p class="text-center">Welcome back and Login with your credentials!!</p>
                    </div>
                    <div class="card-body">
                        <form id="loginForm">
                            <label for="" class="form-label">Name</label>
                            <input type="text" class="form-control" name="name">

                            <label for="" class="form-label mt-3">Password</label>
                            <input type="password" class="form-control" name="password">
        
                            <input type="submit" class="btn btn-primary mt-3">
        
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../../common/script.ejs') %>
    <script src="/javascripts/admin.auth.js"></script>
</body>

</html>